#borrow-book{
  margin: 16px;
}
.mat-elevation-z8 {
  overflow-x: auto;
}

table {
  width: 100%;
  white-space: nowrap;
}


@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
}
