#add-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.add-edit-card {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.input-container {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .add-edit-card {
    max-width: 300px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar-row {
  width: 100%;
}

